
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


.container3{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #ee6a76;
}

.description{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 15px;
    background-color: #816461;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

@media (max-width: 390px){
  .container3{
    height: 89vh;
  }
 img{
  position: relative;
  top: -60px;
  width: 200px;
 }
 .description{
  font-size: 0.9rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  height: 300px;
 }

}

@media (max-width: 535px){
  img{
    position: relative;
    top: 20px;
    width: 300px;
  }
  .description{
    margin: 50px;
   }
  
}