.Portfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px;
    z-index: -2;
}

.card{
    margin-bottom: 20px;

}
.card-body{
    min-height:250px;
    overflow:auto;
}

.btn{
    margin: 5px;
}

@media (max-width: 390px){
    .card img{
       top: 0px;
    }
    .card-container{
        position: relative;
        top: -90px;
    
    }
}